/* Reset default browser margins and padding */
html,
body,
#root {
  /* Inter and Inter Tight imported in index.html head */
  font-family:
    Inter Tight,
    Inter,
    system-ui,
    'Segoe UI',
    Roboto,
    Arial,
    Helvetica,
    sans-serif;
}

/*

/* make border-box the exact dimentions of the scree /
*,
*::before,
*::after {
  box-sizing: border-box;
}
*/
body {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}